@CHARSET "UTF-8";
.content{float:left;width:1000px;height:500px;margin:10px 20px;}
.item{margin:30px 30px;font-size:20px;}
.weightAndheight{float:left}
.bmi{margin:0px 30px;}
.item1{margin:30px 20px ;font-size:30px;}
.item2{margin:50px 55px;width:550px;font-size:30px;}
#weight_input{ border: solid #0099FF 1px;margin-left:10px; width:60px; height:30px; }
#height_input{ border: solid #0099FF 1px; margin-left:10px; width:60px; height:30px;}
#check_btn{ width:60px;padding:5px; margin-left:20px; background:#339966; border:none; color:#FFFFFF; }